*{
    margin: 0;
    padding: 0;
}
img{
    width: 200px;
    border-radius: 50%;
}

h1,h2{
    color: #0aa1dd;
}

h2{
    margin-bottom: 2rem;
}
hr{
    border: none;
    border-bottom: .5rem dotted #0aa1dd;
    width: 5rem;
    margin: 3rem auto;
}
table{
    margin: auto;
}

td{
    padding: 1rem;
}

.header p{
    width: 18rem;
}
.header{
    background-color: #79dae8;
    padding: 2rem;
}

.main{
    background-color: #e8f9fd;
    padding: 1px;
}
.main, .footer{
    text-align: center;
}

.footer{
    padding: 2rem;
    background-color: #79dae8;
}

.footer a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #0aa1dd;
    text-decoration: none;
    font-weight: bold;
}